$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #111;
$dogerblue: rgb(30, 144, 255);
$lightgreen: rgb(144, 238, 144);
$grey: #999;
$lightgrey: #ddd;
$lightergrey: #eee;
$lightwhite: rgb(245, 245, 245);
$white-shadow: rgba(220, 220, 220, .15);
$blue-shadow: rgba(9, 52, 87, .2);
$orange: rgba(255, 165, 0, .9);
$darkerorange: 	rgba(255, 140, 0, .8);

@font-face {
  font-family: 'KBSticktoIt'; // by KhrysKreations
  src: url('./KBSticktoIt.ttf');
}

body {
  // border: 1px solid $black;
  // margin: 40px;
  text-align: center;
  background-color: $lightwhite;
  height: 725px;
  background-image: linear-gradient(to right, #051937, #093457, #0a5177, #0b7195, #1692b2);
  height: auto;
  width: auto;
  overflow-x: hidden;
  // overflow: hidden;
}

.box {
  border: 1px solid $black;
  padding: 1px;
}

.font-page {
  padding-top: 100px;
}

.title, .message {
  font-size: 100px;
  font-family: 'KBSticktoIt';
  color: $lightwhite;
}
#title {
  margin-top: 230px;
  transition: all 1s ease-in-out;
}
#title.active {
  margin-top: 0px;
}
#title h1 span:hover {
  font-size: 100px;
  color: $orange;
}

.message {
  font-size: 30px;
}

#credentials-message {
  opacity: 0;
}
#credentials-message.active {
  transition: all 1s ease-in-out;
  opacity: 1;
}

.credentials {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: $white-shadow;
  opacity: 0;
}
.credentials.active {
  transition: all 1s ease-in-out;
  opacity: 1;
}

.form {
  font-size: 30px;
  color: $lightwhite;
  padding: 15px;
}

#signUp {
  margin-right: 30px;
}
#signIn {
  margin-left: 30px;
}

.sign-up-button,
.sign-in-button,
.change-password-button {
  float: right;
  height: 50%;
  color: $black;
}

// testings start here
.wrapper {
  display: flex;
  flex-direction: row;
}
.contents {
  width: 100%;
}

@keyframes slide-right {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(300px);
    opacity: 1;
  }
}

.slide-out {
  animation: slide-right 1s forwards;
}
.slide-in {
  animation: reverse slide-right 1s forwards;
}

.sidebar {
  margin-left: -300px;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  background-color: #1692b2;
  transition: 0.5s ease-in-out;
  & h2 {
    color: white;
    text-align: left;
    font-size: 40px;
  }
  & .sign-out {
    display: block;
    text-align: left;
    margin-bottom: 3px;
    padding: 10px;
    background-color: $white-shadow;
    & a {
      display: inline;
      text-decoration: none;
      font-size: 20px;
      color: $lightwhite;
    }
    &:hover {
      background-color: $blue-shadow;
    }
  }

  @keyframes shake { // credit to w3school
    0% { transform: translate(1px, 1px) }
    10% { transform: translate(-1px, -2px) }
    20% { transform: translate(-3px, 0px) }
    30% { transform: translate(3px, 2px) }
    40% { transform: translate(1px, -1px) }
    50% { transform: translate(-1px, 2px) }
    60% { transform: translate(-3px, 1px) }
    70% { transform: translate(3px, 1px)  }
    80% { transform: translate(-1px, -1px) }
    90% { transform: translate(1px, 2px) }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);

    }
  }

  .animation-shake {
    animation: shake .5s 3;
  }
  .animation-change-password-success {
    animation: shake .5s 3;
    color: $lightgreen;
  }
  .animation-change-password-fail {
    animation: reverse shake .5s 3;
    color: red;
  }

  & form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: $white-shadow;
    & legend {
      color: $lightwhite;
    }
    & button {
      float: right;
    }
    &:hover {
      background-color: $blue-shadow;
    }
  }
}
.sidebar.active {
  margin-left: 0px;
}

.sidebar-toggle {
  position: absolute;
  width: 80px;
  height: 100%;
  top: 0px;
  background: $lightgrey;
  &:hover {
    background: $white-shadow;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-toggle span {
  display: block;
  border-radius: 5px;
  width: 80%;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}

// testings end here

.navbar {
  padding-top: 10px;
  background: $white-shadow;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-count {
  min-width: 250px;
  max-width: 250px;
  background: $white-shadow;
  min-height: 87vh;
  overflow: auto;
  color: $lightwhite;
  font-size: 20px;
  & legend {
    font-family: sans-serif;
    font-size: 30px;
    color: $lightwhite;
  }
}

.game-play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#new-game,
#start-game {
  background-color: $orange;
  font-size: 40px;
  &:hover {
    background: $darkerorange;
  }
}

.game-container {
  display: flex;
  flex-direction: row;
  & span {
    font-size: 40px;
  }
}

// gameboard animation
@keyframes fade-in {
  from {opacity: .5;}
  to {opacity: 1;}
}

.game-board {
  // background: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.game-fadein {
  animation: fade-in 3s forwards;
}

@keyframes zoom-in {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.8, 1.8);
  }
}

.board-row {
  display: flex;
  flex-direction: row;

  & div { // game cells
    align-items: center;
    background-color: rgba(220, 220, 220, .7);
    display: flex;
    justify-content: center;
    height: 160px;
    width: 160px;
    font-size: 60px;
    & span {
      animation: zoom-in .1s forwards;
    }
    &:hover {
      background-color: rgba(220, 220, 220, .6);
    }
  }
}

// .game-status-bar {
//   position: relative;
//   height: auto;
//   font-size: 40px;
//   color: $lightwhite;
//   height: 10%;
// }


@media screen and (min-width: 1000px) {
  .form {
    width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .form {
    width: 350px;
  }
}
