$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin: 40px;
}

.box {
  border: 1px solid black;
  margin: 1px;
}

.credentials {
  background-color: Dodgerblue;
}

.game {
  background-color: lightgreen;
}

.game-board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-row div {//game cells
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
